/* || RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */

:root {
    --github-link: url('https://raw.githubusercontent.com/vanguard-mp/ModernPeople-website/Action/');
    /* COLORS */
    --MP-orange: #F94A1E;
    --MP-BG-color: #E8E8E2;
    --MP-hi-color:#d7ff45;  
    --MP-text-color: rgba(0, 0, 0, 0.75);
}

/* || TYPOGRAPHY */

/* Thin weight; Normal style */
@font-face {
  font-family: 'Neue Machina';
  font-weight: 200;
  font-style: normal;
  src: url('https://raw.githubusercontent.com/vanguard-mp/ModernPeople-website/Action/fonts/PPNeueMachina-InktrapThin.woff') format('woff');
}
/* Light weight; Normal style */
@font-face {
  font-family: 'Neue Machina';
  font-weight: 300;
  font-style: normal;
  src: url('https://raw.githubusercontent.com/vanguard-mp/ModernPeople-website/Action/fonts/PPNeueMachina-InktrapLight.woff') format('woff');
}
/* Regular weight; Normal style */
@font-face {
  font-family: 'Neue Machina';
  font-weight: 400;
  font-style: normal;
  src: url('https://raw.githubusercontent.com/vanguard-mp/ModernPeople-website/Action/fonts/PPNeueMachina-InktrapRegular.woff') format('woff');
}
/* Light weight; Normal style */
@font-face {
  font-family: 'Neue Montreal';
  font-weight: 300;
  font-style: normal;
  src: url('https://raw.githubusercontent.com/vanguard-mp/ModernPeople-website/Action/fonts/PPNeueMontreal-Light.woff') format('woff');
}
/* Regular weight; Normal style */
@font-face {
  font-family: 'Neue Montreal';
  font-weight: 400;
  font-style: normal;
  src: url('https://raw.githubusercontent.com/vanguard-mp/ModernPeople-website/Action/fonts/PPNeueMontreal-Book.woff') format('woff');
}

/* || UTILITY CLASSES */

.underline {
  text-decoration: underline;
}
.under{
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: var(--MP-hi-color);
}
.strike{
  text-decoration:line-through;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--MP-hi-color);
}
.over{
  background-color: var(--MP-hi-color);
}

/* || GLOBAL STYLES */

body {
  background-color: var(--MP-BG-color);
  color: var(--MP-text-color);
}
bodycopy {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--MP-text-color);
  font-family: "Neue Montreal", Icons;
  font-style: normal;
  line-height: 1.2;
  font-variation-settings: 'slnt' 0, 'MONO' 0;
}
bodycopy a {
  color: var(--MP-text-color);
  text-decoration: none;
}
h1 {
  font-family: 'Neue Machina', sans-serif;
  font-style: normal;
  font-weight: 300;
  padding: 0;
  margin: 0;
  font-size: 5vw;
  line-height: 1;
  color: var(--MP-text-color);
  font-variation-settings: 'slnt' 0, 'MONO' 0;
}
h1 a.hover {
  color: var(--MP-orange);
}
h1 a {
  color: var(--MP-orange);
}
h2 {
  font-family: "Neue Machina", Icons;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: var(--MP-text-color);
  font-size: 2.2rem;
  line-height: 1.2;
  font-variation-settings: 'slnt' 0, 'MONO' 0;
  }
h2 a {
  color: var(--MP-text-color);
}
small {
  display: inline-block;
  font-size: 1.2vw;
  line-height: 1.2vw;
  font-family: "Neue Machina", Icons;
  font-style: normal;
  font-weight: 400;
  color: var(--MP-text-color);
  font-variation-settings: 'slnt' 0, 'MONO' 1;
}
a {
  text-decoration: none;
  color: var(--MP-text-color);
}
a:hover {
  color:var(--MP-orange);

}

/* || BLOCKS */
/* aka components */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--MP-BG-color);
}

/* || ELEMENTS */
/* No standalone meaning - semantically tied to the block */
/* does not represent structure, not header__nav__btn */


.header__title {
  margin: 0;
  font-size: 2.2rem;
}
.header__contact {
  margin: 0;
  font-size: 2.2rem;
}


.main-box{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.slide-show {
  position: relative;
  /*margin-inline: 0;*/
  top: 30px;
  left: 30px;
  
 
  width: calc(100vw - 60px);
  height: calc(100vh - 125px);
  z-index: 1;
  /*background-image: url('/images/reelPlay.jpg');*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*background-attachment: fixed;*/
}


/* || NAVIGATION */

.nav-bar {
  position: fixed;
  bottom: 30px;
 
  height: 60px;
  width: 100%;
  /*margin-top: 60px;*/
  

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  padding: 0 40px 0 40px;
  box-sizing: border-box;
  background-color: var(--MP-BG-color);
  opacity: 0.96;
  transition: all 0.1s ease;
}
.nav-bar.scroll-past-video {
  top: 0;
  bottom: auto;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.nav-bar.pinned {
  position: fixed;
  top: 0;
  background-color: white;
  
}
/* orange tab on the left, freely moving on-top of nav-bar position */
.orange-tab {
  position: absolute;
  left: -30px;
  bottom: -10px;
  width: 10px;
  height: 65px;
  background-color: var(--MP-orange);

}
.left-column {
  position: relative; /* Add relative positioning */
  height: 40px;
  margin-left: -10px;
}
/* logo */
.left-column img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}
/* inside left-column */
.skull{
  display:flex;
  
  position: relative;
  width: 20%;
  height: 20%;

  
}
.skull img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.middle-column {
  display: flex;
  align-items: center;
  gap: 0px;
}
.right-column {
  display: flex;
  align-items: right;
  gap: 0;
  padding: 0;
  margin-right: -10px;
}
/* inside right-column */
.hello-btn {
  
  
  border: none;
  background-color: transparent;
  color: var(--MP-text-color);
  font-family: 'Neue Machina', sans-serif;
  padding: 10 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.hello-btn:hover {color: var(--MP-orange);}

.parts-btn {
  
  
  border: none;
  background-color: transparent;
  color: var(--MP-text-color);
  font-family: 'Neue Machina', sans-serif;
  padding: 10 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.parts-btn:hover {color: var(--MP-orange);}


/* || HELLO AREA */

.hello-box{
  background-image: url('https://raw.githubusercontent.com/vanguard-mp/ModernPeople-website/Action/images/MP-Background.jpg');
  color: var(--MP-text-color);
  display: flex;
  flex-direction: row;
  width: calc(100vw - 60px);
  height: calc(100vh - 125px);
  margin-left: 30px;
  margin-top: 30px;
  visibility: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 3;
  
}
.hello-box.show {
  visibility: visible;
  display: flex;
  flex-direction: row;
}
.hello-text {
  color: var(--MP-text-color);
  position:absolute;
  bottom: 200px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: left;
  object-fit: contain;
  
  
  
}
.hidden {
  display: none;
}
.info-btn {
  background-repeat: repeat;
  border: none;
  background-color: transparent;
  color: var(--MP-text-color);
  font-family: 'Neue Machina', sans-serif;
  
  font-size: 16px;
  cursor: pointer;
  display: flex;
  position:absolute;
  bottom:120px;
  margin-left: 30px;
}
.info-btn:hover {
  color: var(--MP-orange);
  background-repeat: repeat;
}
.hello-form{
  /* container for contact-form */
}
/* || CONTACT INSIDE HELLO */

.contact-link {
  color: var(--MP-orange);
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.2;
  font-family: "Neue Machina", Icons;
  font-style: normal;
  font-weight: 400;
  font-variation-settings: 'slnt' 0, 'MONO' 1;
}
.contact-form {
  margin-top: 20px;
}


/* || VIDEO AREA AT THE BOTTOM */ 

.video-image-box{
  position: relative;
  /*margin-inline: 0;*/
 
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc(100vw - 60px);
  height: calc(100vh - 125px);
  z-index: -1;
  background-image: url('https://raw.githubusercontent.com/vanguard-mp/ModernPeople-website/Action/images/reelPlay.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*background-attachment: fixed;*/
}
.video-link {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}





/* || GRID AREA */

.grid-box {
  margin: 0 30px;
  
}
#grid {
  margin-top: -30px;
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 0px;

}
#grid .grid-item {
  width: 100%;
  height: auto;
}




/* || MODIFIERS || */
/* incremtal style changes */

/* Blocks with modifiers */








/* || ANIMATIONS || */

.motion {
  text-align: right;
  font-family: 'Neue Machina', sans-serif;
  font-style: normal;
  font-weight: 300;
  padding: 0;
  margin-top: -5px;
  margin-right: 30px;
  font-size: 1.1rem;
  line-height: 1;
  color: var(--MP-text-color);
  font-variation-settings: 'slnt' 0, 'MONO' 0;
}
.move-up {
  animation-name: move-up;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes move-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-500px);
  }
}

/* || MEDIA QUERIES || */

@media (max-width: 1200px) {
  #grid {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
  }
}

@media (max-width: 1000px) {
  #grid {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
  }
}

@media (max-width: 600px) {
  #grid {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }
}

@media (max-width: 300px) {
  #grid {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
  }
}

