/* || RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}/* || VARIABLES */
:root {
  --github-link: url("https://raw.githubusercontent.com/vanguard-mp/ModernPeople-website/Action/");
  /* COLORS */
  --MP-orange: #f94a1e;
  --MP-BG-color: #e8e8e2;
  --MP-Dark-BG-color: #232323;
  --MP-hi-color: #d7ff45;
  --MP-gray: #727272;
  --MP-text-light: #CDCDCD;
  --MP-text-color: rgba(0, 0, 0, 0.75);
}

/* || TYPOGRAPHY */

/* Thin weight; Normal style */
@font-face {
  font-family: "Neue Machina";
  font-weight: 200;
  font-style: normal;
  src: url("https://raw.githubusercontent.com/vanguard-mp/ModernPeople-website/Action/fonts/PPNeueMachina-InktrapThin.woff")
    format("woff");
}
/* Light weight; Normal style */
@font-face {
  font-family: "Neue Machina";
  font-weight: 300;
  font-style: normal;
  src: url("https://raw.githubusercontent.com/vanguard-mp/ModernPeople-website/Action/fonts/PPNeueMachina-InktrapLight.woff")
    format("woff");
}
/* Regular weight; Normal style */
@font-face {
  font-family: "Neue Machina";
  font-weight: 500;
  font-style: bold;
  src: url("https://raw.githubusercontent.com/vanguard-mp/ModernPeople-website/Action/fonts/PPNeueMachina-InktrapRegular.woff")
    format("woff");
}
/* Light weight; Normal style */
@font-face {
  font-family: "Neue Montreal";
  font-weight: 300;
  font-style: normal;
  src: url("https://raw.githubusercontent.com/vanguard-mp/ModernPeople-website/Action/fonts/PPNeueMontreal-Light.woff")
    format("woff");
}
/* Regular weight; Normal style */
@font-face {
  font-family: "Neue Montreal";
  font-weight: 400;
  font-style: normal;
  src: url("https://raw.githubusercontent.com/vanguard-mp/ModernPeople-website/Action/fonts/PPNeueMontreal-Book.woff")
    format("woff");
}

/* || UTILITY CLASSES */

.underline {
  text-decoration: underline;
  text-decoration-color: var(--MP-hi-color);
}
.under {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: var(--MP-hi-color);
}
.strike {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--MP-hi-color);
}
.over {
  background-color: var(--MP-hi-color);
}

/* || GLOBAL STYLES */

body {
  background-color: var(--MP-BG-color);
  color: var(--MP-text-color);
  
}
bodycopy {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--MP-text-color);
  font-family: "Neue Montreal", Icons;
  font-style: normal;
  line-height: 1.2;
  font-variation-settings: "slnt" 0, "MONO" 0;
}
bodycopy a {
  color: var(--MP-text-color);
  text-decoration: none;
}
h1 {
  font-family: "Neue Machina", sans-serif;
  font-style: normal;
  font-weight: 200;
  padding: 0;
  margin: 0;
  margin-top: 0.5rem;
  margin-right: 1rem;
  font-size: clamp(2rem, 5dvw, 6rem);
  max-width: max(50%,80dvw);
  line-height: 1;
  color: var(--MP-text-light);
  font-variation-settings: "slnt" 0, "MONO" 0;
}
h1-dark {
  font-family: "Neue Machina", sans-serif;
  font-style: normal;
  font-weight: 500;
  padding: 0;
  margin: 0;
  font-size: 5vw;
  line-height: 1;
  color: var(--MP-text-color);
  font-variation-settings: "slnt" 0, "MONO" 0;
}
h1 a.hover {
  color: var(--MP-orange);
}
h1 a {
  color: var(--MP-orange);
}
h2 {
  font-family: "Neue Montreal", Icons;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: var(--MP-text-light);
  font-size: 1rem;
  line-height: 1.2;
  font-variation-settings: "slnt" 0, "MONO" 0;
}
h2 a {
  color: var(--MP-text-color);
}
small {
  display: inline-block;
  font-size: clamp(0.8rem, 1dvw + 0.1rem, 2rem);
  margin-top: 0.5rem;
  font-family: "Neue Machina", Icons;
  font-style: normal;
  font-weight: 400;
  color: var(--MP-text-light);
  font-variation-settings: "slnt" 0, "MONO" 1;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: var(--MP-text-color);
}
a:hover {
  color: var(--MP-orange);
}

/* || BLOCKS */
/* aka components */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--MP-BG-color);
}

/* || ELEMENTS */
/* No standalone meaning - semantically tied to the block */
/* does not represent structure, not header__nav__btn */

.header__title {
  margin: 0;
  font-size: 2.2rem;
}
.header__contact {
  margin: 0;
  font-size: 2.2rem;
}
.curiosity-text {
  border: none;
  background-color: transparent;
  color: var(--MP-text-color);
  font-family: "Neue Machina", sans-serif;
  
  font-size: clamp(0.7rem, 2vw, 1rem);
  
  display: inline-block;
  position: absolute;
  top: 0.6rem;
  right: 2rem;
}

/* || LAYOUT */

.main-box {
  /* display: flex;
  flex-direction: column;
  min-height: 100%;  */
}
.top-box {
  
  
  /* min-height: calc(100vh - 120px);
  min-height: calc(100dvh - 120px); */
  background-color: var(--MP-Dark-BG-color);
  margin: 2rem 2rem 0 2rem;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
 
}

/* SLIDESHOW */ 

.slide-show {
  position: relative;
  width: 100%;
  height: calc(100vh - 120px);
  z-index: 1;
  overflow: hidden;
  opacity: 1;
 
}

.slide {
  position: absolute;
  top: 0;
  left: 0;  
  right: 0;
  bottom: 0;
  opacity: 0;
  
  /* Add the following styles for overlay */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
  
}
.slide-show:hover .overlay {
  opacity: 1;
}
.slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 500;
}

.overlay {
  position: absolute;
  bottom: -0.5vh;
  width: 100%;
  height: 60px;
  background-color: var(--MP-BG-color); /* Replace with your desired background color */
  
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index:1000;
  

}

.overlay-line {
  width: 100%;
  height: 1px;
  background-color: var(--MP-Dark-BG-color); /* Replace with your desired line color */
  
}

.overlay-text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem 0.5rem 1rem 1rem;
  font-size: clamp(0.7rem, 2vw, 1rem);

  color: var(--MP-text-color); /* Replace with your desired text color */
  text-decoration: none;
  
  line-height: 1.2;
  font-family: "Neue Machina", Icons;
  font-style: light;
  font-weight: 300;
  font-variation-settings: "slnt" 0, "MONO" 1;
}
.visible-overlay {
  opacity: 1;
}
.overlay-text span {
  margin-right: 10px;
}

/* SECTIONS */


/* || NAVIGATION */

.nav-bar {
  position: absolute;
  bottom: 30px;

  height: 60px;
  width: 100%;
  /*margin-top: 60px;*/
  /*transition: 0.1s ease-in-out;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 500;

  /*box-sizing: border-box;*/
  background-color: var(--MP-BG-color);
  opacity: 1;
  transform: translateZ(0);
}

/* orange tab on the left, freely moving on-top of nav-bar position */
.orange-tab {
  position: absolute;
  left: -2rem;
  top: -15px;
  width: 10px;
  
  height: 60px;
  background-color: var(--MP-orange);
}
.left-column {
  display: flex;
  position: relative; /* Add relative positioning */
  
  margin-left: 2rem;
  justify-content: flex-start;
}



/* skull */

.skull {
  top: 15px;
  display: flex;
  width: 7%;
  left: -10px;
  height: auto;
  position: relative;
  cursor: pointer; /* Set the default cursor style */

}
.skull img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* logo */

.logo {
  padding-left: 0px;
  position: relative;
  align-self: left;
  padding: 0;
  width: min(25dvw, 10rem);
  cursor: pointer; /* Set the default cursor style */

}
.logo img{
  width: 100%;
  height: auto;
  object-fit: contain;
  
}

.middle-column {
  display: flex;
  align-items: center;
  gap: 0px;
}
.right-column {
  display: flex;
  align-items: right;
  gap: 0;
  padding: 0;
  margin: 0;
  margin-right: 1.5rem;
}
/* inside right-column */

.nav-btn {
  border: none;
  background-color: transparent;
  color: var(--MP-text-color);
  font-family: "Neue Machina", sans-serif;
  padding: 0.3em 0.6em;
  font-size: clamp(0.7rem, 2.5vw, 1rem);
  cursor: pointer;
  display: inline-block;
}
.nav-btn:hover {
  color: var(--MP-orange);
}
.nav-btn.active {
  font-weight: bold;
}


/* || ABOUT */
.about-section.hidden .about-image {
  display: none;
  
}

.about-section {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  height: 100%;
}


.main-about {  display: grid;
  
  /* grid-template-columns: 0.1fr 1.8fr; */
  /* grid-template-rows: auto 1fr 1.5fr 0.8fr 1.1fr; */
  gap: 0px 0px;
  grid-auto-flow: row;
  align-content: end;
  justify-items: stretch;
  
  /* min-height: 100dvh; */
  min-height: calc(100dvh-120px);
}
.skull-about { 
  grid-area: 1 / 1 / 2 / 2; 
  width: clamp(2rem, 5dvw, 6rem);

}
.sub-about {
  display: grid;
  align-content: end;
  height: clamp(2rem, 5dvw, 6rem);
  grid-area: 1 / 2 / 2 / 3;
}

.h1 { 
  grid-area: 3 / 2 / 3 / 3; 
}

.row-about { 
  grid-area: 4 / 2 / 5 / 3;
  display: flex;
  flex-wrap: wrap;
  gap: max(1rem, 2dvh);
  margin-top: 1rem;
  margin-right: 1rem;
  align-items: flex-start;
 }

.arrow-about { 
  /* height: auto;
  height: clamp(5rem, 5dvh+0.5rem, 10rem); */
  grid-area: 5 / 1 / 6 / 2; 
  height: clamp(2rem, 5dvw, 6rem);
  align-self: end;
  rotate: 90deg;
  
}





.vertical-space { grid-area: 3 / 1 / 5 / 2; }




.small-about {
  
  max-width: clamp(250px, 40dvw, 600px);
}








/* || CONTACT INSIDE HELLO */

.contact-section .hidden{
  display: flex;
  flex-direction: column;
  min-height: calc(100dvh-120px);
}

.contact-orange-skull{
  display: flex;
  position: absolute;
  top: 3vw;
  left: 2vw;
  margin: 0;
  max-height: 15vw;
  max-width: 15vw;
  height: 100%;
  width: 100%;
  ;
}
.contact-arrow {
  display: flex;
  position: absolute;
  bottom: 2vw;
  left: 0px;
  margin-left: -2vw;
  scale: 30%;
  rotate: 180deg;
  opacity: 0.5;
}

.contact-link {
  color: var(--MP-orange);
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.2;
  font-family: "Neue Machina", Icons;
  font-style: normal;
  font-weight: 400;
  font-variation-settings: "slnt" 0, "MONO" 1;
}
.contact-form {
  position: absolute;
  bottom: 10vw;
  left: 5vw;
  right: 30px;
  margin-bottom: 60px;
  margin-left: 30px;  
  margin-right: 30px;
  
}
.contact-text {
  color: var(--MP-BG-color);

  margin-left: -3.5vw;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.2;
  font-family: "Neue Machina", Icons;
  font-style: light;
  font-weight: 300;
  font-variation-settings: "slnt" 0, "MONO" 1;
  
}
.send-button {
  font-family: "Neue Montreal", sans-serif;
  font-weight: 300;
  font-size: 0.7rem; /* Adjust this value according to your desired font size */
  background-color: gray;
  border: none;
  color: #fff; /* Adjust the color of the text inside the button */
  cursor: pointer;
  padding: 2px 4px; /* Adjust the padding according to the desired size */
  text-transform: uppercase; /* Optional: to make the text uppercase */
  transition: background-color 0.3s ease;
}

.send-button:hover {
  background-color: darkgray; /* Change the color on hover */
}

.input-wrapper {
  margin-bottom: 10px;
  width: 40vw;
}

input, textarea {
  height: 4vh;
  width: 100%;
  background-color: var(--MP-gray);
  border: 0px;
  
}
.fixed-size-textarea {
  width: 40vw;
  height: 20vh; /* You can adjust this value to your preferred height */
  resize: none; /* Disables the ability for users to resize the textarea */
}

/* || GRID AREA */

.grid-box {
 margin: 60px 30px 0 30px; /* Add 60px margin-top */
 overflow: hidden; 
 height: 1000px;
 
}

.grid-box.toggle {
  margin: 60px 30px 0 30px;
}




#grid .grid-item {
  width: 20%; /* This is for screens larger than 1200px */
  height: auto;
  overflow: hidden; 
  position: relative; 
  break-inside: avoid; /* Avoid breaking inside grid items */


}

#grid .grid-item img {
  width: 100%;
  
  object-fit: cover; 
  position: absolute; 
  transform: translate(-50%, -50%); 
  transform: translateZ(0);
}




/* || MODIFIERS || */
/* incremtal style changes */

/* Blocks with modifiers */

/* || VIDEO AREA AT THE BOTTOM */
.video-wrapper {
  position: relative;
  margin-top: 90px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc(100vw - 60px);
  height: calc(100vh - 125px);
}

.video-image-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-image: url("https://raw.githubusercontent.com/vanguard-mp/ModernPeople-website/Action/images/reelPlay.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.video-link {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
}

.horizontal-tab {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 65px;
  height: 10px;
  background-color: var(--MP-orange);
  
  transition: opacity 0.3s;
  opacity: 0;
}


.hidden {
  display: none;
}


/* || ANIMATIONS || */


.motion {
  text-align: right;
  font-family: "Neue Machina", sans-serif;
  font-style: normal;
  font-weight: 300;
  padding: 0;
  margin-top: -5px;
  margin-right: 30px;
  font-size: 1.1rem;
  line-height: 1;
  color: var(--MP-text-color);
  font-variation-settings: "slnt" 0, "MONO" 0;
}
.move-up {
  animation-name: move-up;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes move-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30vh);
  }
}

/* || MEDIA QUERIES || */


/* Large Desktop */

@media screen and (min-width: 1801px) {
  #grid .grid-item {
    width: 16.666%;
    }
}

/* Desktop */

@media screen and (max-width: 1800px) {
  #grid .grid-item {
    width: 20%;
    } 
}

/* Tablet Landscape */

@media screen and (max-width: 1200px) {
  #grid .grid-item {
    width: 25%;
    }
}

/* Tablet Portrait */

@media screen and (max-width: 900px) {
  #grid .grid-item {
    width: 33.333%;
    }
    .small-about{
      max-width: clamp(250px, 60dvw, 600px);
      
    }
   
    
  }
  
/* Phone */

@media screen and (max-width: 600px) {
  #grid .grid-item {
    width: 50%;
    
   }
  
  .logo {
    width: clamp(7rem, 25dvw, 12rem);
  }
  .left-column{
    margin-left: 2rem;
  }
  .logo img {
    content: url("images/MP Logomark Single Line Small.svg"); /* Replace with the path to your mobile image */
  }
  
  .curiosity-text {
  top: 2vw;
  right: 5vw;
  }
}

/* small PHONE */ 

@media screen and (max-width: 320px) {
  #grid .grid-item {
    width: 100%;
   }
   .curiosity-text {
    top: 1vw;
  
  }
  .right-column{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
  }
  
}

